.info-image {
    width: inherit;
}

.info-image-circle {
    border-radius: 50%;
    border: 10px double black;
    padding: 25px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

.info-arrow {
    width: 100px;
    transform: rotateZ(-180deg);
}

@media screen and (max-width: 1430px) {   
    .info-arrow {
        width: 90px;
    }
    .info-image-circle {
        width: 145px;
        height: 145px;
        padding: 20px;
    }
}

@media screen and (max-width: 1145px) {   
    .info-arrow {
        width: 65px;
    }
    .info-image-circle {
        width: 145px;
        height: 145px;
        padding: 20px;
    }
}

@media screen and (max-width: 959px) {   
    .info-arrow {
        transform: rotateZ(90deg);
        padding: 10px;
    }
}

