.info-image {
    width: inherit;
}

.info-image-circle {
    border-radius: 50%;
    border: 2px solid black;
    padding: 25px;
    width: clamp(0.9rem, 12vw, 11rem);
    height: clamp(0.9rem, 12vw, 11rem);
    display: flex;
    align-items: center;
    background: white;
}

.info-text {
    margin-top: 10px;
    max-width: 250px;
}

.info-arrow {
    width: clamp(1.4rem, 7vw, 6rem);
    transform: rotateZ(-180deg);
}
/* 
@media screen and (max-width: 1430px) {   
    .info-arrow {
        width: 75px;
    }
    .info-image-circle {
        width: 145px;
        height: 145px;
        padding: 20px;
    }
}

@media screen and (max-width: 1145px) {   
    .info-arrow {
        width: 55px;
    }
    .info-image-circle {
        width: 135px;
        height: 135px;
        padding: 15px;
    }
} */

@media screen and (max-width: 959px) {   
    .info-image-circle {
        width: 170px;
        height: 170px;
        padding: 18px;
    }
}

