.reset-button {
    position: absolute;
    top: 7px;
    right: 7px;
}

.idf-icon {
    position: absolute;
    width: 108px;
    top: -68px;
    left: 50%;
    transform: translate(-50%, 0);
    filter: drop-shadow(2px 4px 3px rgba(0,0,0,0.5));
}