@font-face {
  font-family: 'NarkisBlock';
  src: local('NarkisBlock'), url(./assets/fonts/NarkisBlock-Condensed_MFW_medium.ttf) format('truetype');
}

@font-face {
  font-family: 'ArimoBold';
  src: local('ArimoBold'), url(./assets/fonts/Arimo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Arimo';
  src: local('Arimo'), url(./assets/fonts/Arimo-Regular.ttf) format('truetype');
}


body {
  margin: 0;
  font-family: ArimoRegular !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.idf-button {
  color: #333 ;
}

.idf-button:hover {
  background-color: #FFC24B ;
  color: #000 ;
}

.idf-button-secondary {
  background-color: #333 ;
  color: white;
}

.idf-button-secondary:hover {
  background-color: black;
  color: whitesmoke;
}

.container-progress {
  color: #FFC24B;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

.english-font {
  font-family: Arimo !important;
}

.bold {
  font-weight: bold;
}

.MuiAlert-root {
  padding: 0px 10px !important;
  margin-top: 10px;
}